@{
    ViewBag.Title = "Informatorio";
}

@section DPerfil{
    @Html.Partial("_DPerfil")
}


	<div class="col-sm-8 content">
		<div id="contact-icons" class="col-sm-2">
            <h4 class="text-center"> Informatorio Chaco </h4>
            <div>
                <a href="http://www.facebook.com/informatorio" class="logo-informatorio"></a>
            </div>
			<div class="col-sm-1 pull-left">
				<a href="mailto:informatorio@gmail.com" class="email-icon"></a>  
                <a href="http://www.facebook.com/informatorio" target="_blank" class="facebook-icon"></a> 
				<a href="#" class="twitter-icon"></a> 
			</div>
		</div>
		<div class="col-sm-9 margin-content">
			<ul id="tabs-info-menu" class="nav nav-tabs">
				<li class="active">
					<a href="#que-es" data-toggle="tab">¿Qué es?</a>
				</li>
				<li>
					<a href="#objetivos" data-toggle="tab">Objetivos</a>
				</li>
				<li>
					<a href="#participar" data-toggle="tab">Participar</a>
				</li>
				<li>
					<a href="#contactos" data-toggle="tab">Contactos</a>
				</li>
				<li>
					<a href="#instructores" data-toggle="tab">Instructores</a>
				</li>
			</ul>
			<div id="tabs-info-content" class="tab-content">
				<div id="que-es" class="tab-pane fade in active">
					<p>
						El Informatorio es el Laboratorio de Capacitaciones Informáticas de la Provincia del Chaco, toma su nombre justamente por ser un Laboratorio Informático. 
					<p>
					<p>
						<h3>Un poco de historia.</h3>
						El Informatorio Chaco ha nacido como una iniciativa que atiende a la falta de recursos humanos calificados en conocimiento técnico para la industria Industria de Software y Servicios Informáticos (SSI) chaqueña, identificado como uno de los principales problemas de la Industria, a partir del diálogo y la participación ciudadana en el Foro de Competitividad de la SSI de Chaco realizado desde el año 2009 al 2010. 
						En este sentido, la comisión de Recursos Humanos del mencionado foro determinó que una de las estrategias a implementar para el desarrollo de la industria sería la “Formación de Recursos Humanos en Herramientas Informáticas Específicas”. Se convocó a la Empresa Sistemas Globales S.A. y al Polo Tecnológico Chaco, para consensuar la idea de montar el laboratorio con una capacitación específica que genere recursos humanos con la capacidad de un técnico informático en el plazo de un año. También se decidió en esta instancia que sería deseable el dictado de otros cursos que contribuyan a consolidar conocimientos de los empleados actuales de las empresas, como también de los futuros empleados. Al avanzar en estas reuniones emergió que la participación de la Universidad Tecnológica Nacional Facultad Regional Resistencia resultaba fundamental.
					</p>
				</div>
				<div id="objetivos" class="tab-pane fade">
					<p>
						El Informatorio tiene como objetivo primordial formar a los jóvenes en las competencias necesarias para ingresar a la industria creciente de Software y Servicios Informáticos de la Provincia del Chaco. 
					</p>
				</div>
				<div id="participar" class="tab-pane fade">
                    <p>
						El Curso de Desarrollo Avanzado de Aplicaciones Informáticas contempla los siguientes Módulos:
						<li>Fundamentos de la programación.</li>
						<li>Gestión de la Información.</li>
						<li>Ingeniería de Software.</li>
						<li>Programación avanzada: 
							<ul>
								<li>Tecnologías .NET.</li>
								<li>Tecnologías Java.</li> 
								<li>Tecnologías PHP.</li>
							</ul>
						<li>Inglés.</li>
					</p>
					<p>
                    Para postularte al curso del Informatorio en 2014 ingresá a <a href="../Pages/postularse.aspx">Postularte</a>
					</p>
				</div>
				<div id="contactos" class="tab-pane fade">
					<p>
						<ul id="contactos-informatorio">
							<li><b>Mail:</b> informatoriochaco@gmail.com</li>
							<li><b>Facebook:</b> informatorio</li>
							<li><b>Twitter:</b> N/A</li>
						</ul>
					</p>
				</div>
				<div id="experiencias" class="tab-pane fade">

				</div>
				<div id="proyectos" class="tab-pane fade">
					<p>
						El Curso de Desarrollo Avanzado de Aplicaciones Informáticas contempla los siguientes Módulos:
						<li>Fundamentos de la programación.</li>
						<li>Gestión de la Información.</li>
						<li>Ingeniería de Software.</li>
						<li>Programación avanzada: 
							<ul>
								<li>Tecnologías .NET.</li>
								<li>Tecnologías Java.</li> 
								<li>Tecnologías PHP.</li>
							</ul>
						<li>Inglés.</li>
					</p>
					<p>
						<img src="static/img/modulos-informatorio.jpg">
					</p>
				</div>
				<div id="instructores" class="tab-pane fade">
						<ul id="info-instructores">
						<li>
							<b>Madia Burgos (2013)</b>
							<ul>
								<li>LinkedIn:</li>
								<li>Twitter: --</li>
							</ul>
						</li>
						<li>
							<b>Luciano Escudero (2012 - 2013)</b>
							<ul>
								<li>Perfil: <a href="http://ar.linkedin.com/pub/luciano-marcos-escudero/36/972/b74" data-toggle="tab">acceder</a></li>
								<li>Twitter: --</li>
							</ul>
						</li>
						<li>
							<b>Gustavo Gimenez (2013)</b>
							<ul>
								<li>Perfil: <a href="https://www.facebook.com/gustavo.gimenez.31" data-toggle="tab">acceder</a></li> 
								<li>Twitter: --</li>
							</ul>
						</li>
						<li>
							<b>Noelia Pinto (2012 - 2013)</b>
							<ul>
                                <li>Perfil: <a href="http://ar.linkedin.com/pub/noelia-pinto/23/792/a34" data-toggle="tab">acceder</a></li> 
								<li>Twitter:<a href="http://www.twitter.com/noeliapinto" data-toggle="tab">acceder</a></li>
							</ul>
						</li>
						<li>
							<b>Gilda R. Romero (2013)</b>
							<ul>
								<li>Perfil: <a href="http://ar.linkedin.com/in/gildarromero/es" data-toggle="tab">acceder</a></li> 
								<li>Twitter:<a href="http://www.twitter.com/gil2rom" data-toggle="tab">acceder</a></li>
							</ul>
						</li>
						<li>
							<b>Darío Vallejos (2012 - 2013)</b>
							<ul>
								<li>Perfil: <a href="http://ar.linkedin.com/in/3icdariovallejos" data-toggle="tab">acceder</a></li>  
								<li>Twitter: --</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4 content">
		<div class="marco-image">
            <iframe width="100%" height="300px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=Frondizi+174,+Resistencia,+Chaco,+Argentina&amp;aq=0&amp;oq=Frondizi+174+cha&amp;sll=37.0625,-95.677068&amp;sspn=42.174768,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=Frondizi+174,+Resistencia,+Chaco,+Argentina&amp;t=m&amp;z=14&amp;ll=-27.465355,-59.000478&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=Frondizi+174,+Resistencia,+Chaco,+Argentina&amp;aq=0&amp;oq=Frondizi+174+cha&amp;sll=37.0625,-95.677068&amp;sspn=42.174768,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=Frondizi+174,+Resistencia,+Chaco,+Argentina&amp;t=m&amp;z=14&amp;ll=-27.465355,-59.000478" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
		</div>
		<div class="image-desc">
			<p>
				Frondizi 174, Piso 4º del Edificio Bolsa de Comercio del Chaco.
				<br/>
				Resistencia, Chaco - Argentina
			</p>
		</div>
	</div>
</div>
<div class="col-sm-12 both">
	<div id="g-informatorio-menu">
		<div class="col-sm-3">
			<ul class="info-menu-lateral">
				<li><a href="#proyectos">Proyectos</a></li>
				<li><a href="#experiencias">Experiencias</a></li>
				<li class="active">
					<a href="#">Galería</a>
				</li>
				<ul id="cphContent_listAlbumsInformatorio" class="submenu-info-menu-lateral"><li><a href='http://www.facebook.com/album.php?fbid=172170876312910&id=172155306314467&aid=1073741828'>Informatorio en la JUTI 2013</a></li></ul>
			</ul>
		</div>
		<div id="cphContent_galleryInformatorioList" class="col-sm-9">
			<div id="cphContent_columnGallery1" class="informatorio-gallery">
			<img src="http://sphotos-b.ak.fbcdn.net/hphotos-ak-prn2/t1/1896958_206891016174229_1856397576_n.jpg" /></div>
			<div id="cphContent_columnGallery2" class="informatorio-gallery">
			<img src="http://scontent-b.xx.fbcdn.net/hphotos-ash3/t1/1011032_206891032840894_350408563_n.jpg" /></div>
			<div id="cphContent_columnGallery3" class="informatorio-gallery">
			<img src="http://scontent-a.xx.fbcdn.net/hphotos-prn1/t1/1621978_206891709507493_1970952350_n.jpg" /></div>
		</div>
	</div>	


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}