@{
    ViewBag.Title = "PoloITChaco";
}

@section DPerfil{
    @Html.Partial("_DPerfil")
}

		<div class="col-sm-9 content">
			<div id="contact-icons" class="col-sm-5">
				<div>
					<div class="polo-title">
						<h1>Polo IT Chaco</h1>
					</div>
                    <div class="clear20"></div>
                    <div>
                    <a href="http://www.facebook.com/poloitchaco" class="logo-polo"></a>
                    </div>
				</div>
				<div class="col-sm-1 pull-right">
					<a href="mailto:contacto@polochaco.com.ar" class="email-icon"></a>
					<a href="http://www.facebook.com/poloitchaco" target="_blank" class="facebook-icon"></a>
					<a href="http://www.twitter.com/poloitchaco" target="_blank" class="twitter-icon"></a>
									
				</div>
			</div>
			<div class="col-sm-6 margin-content">
				<ul id="tabs-info-menu" class="nav nav-tabs">
					<li class="active">
						<a href="#que-es" data-toggle="tab">¿Qué es?</a>
					</li>
					<li>
						<a href="#vision" data-toggle="tab">Vision</a>
					</li>
					<li>
						<a href="#participar" data-toggle="tab">Participar</a>
					</li>
					<li>
						<a href="#contactos" data-toggle="tab">Contactos</a>
					</li>
				</ul>
				<div id="tabs-info-content" class="tab-content">
					<div id="que-es" class="tab-pane fade in active">
										
						<h3>¿Qué es un Polo Tecnológico?</h3>
						<p>

							</p><p>
								Un Polo Tecnológico es un ejemplo de la creación de sinergias en un conjunto de industrias e instituciones tecnológicas, que se encuentra situada en una ubicación física común y, donde se supera el tradicional vínculo Universidad-Empresa-Gobierno, denominado académicamente Triángulo de Sábato.
							</p>
							<p>
								El Triángulo de Sábato (Jorge Sábato, 1995)  es el modelo más elemental y universalmente aceptado de política científico – tecnológica, representado gráficamente de la siguiente manera:
							</p>
							<p>
								El modelo postula que para que exista en realidad un sistema científico - tecnológico, es necesario:
							</p>
							<ul>
								<li> 
									al estado/gobierno, como diseñador y ejecutor de la política,
								</li>
								<li>														 la fraestructura científico-tecnológica 
									(universidad e institutos de investigación
										/academia)como sector de oferta de tecnología y,
								</li>
								<li>
									el sector productivo (empresas), como demandante de tecnología estén fuerte y permanentemente relacionados.
								</li>
							</ul>
							<p>
								El principal objetivo de un Polo Tecnológico es acercar las universidades y la industria para fomentar el desarrollo de soluciones locales con tecnología de punta, abriendo la posibilidad a la generación de nuevas fuentes de trabajo para el capital humano egresado de las entidades educativas.
							</p>	
						<p></p>
					</div>
					<div id="vision" class="tab-pane fade">
						<p>
							Ser un centro de referencia internacional en el desarrollo científico y la innovación tecnológica, siendo ejemplo concreto del modelo denominado “triángulo de Sábato”, posicionando a la Región del NEA en un lugar privilegiado.. 
						</p>
						<p>
							Bajo este marco conceptual es como el Polo Tecnológico Chaco ha sido formado y ubicado en un gran área estratégicamente localizada y desarrollada; en pos de ofrecer un entorno de prestigio para atraer a empresas o a secciones de las grandes empresas, en general de alta tecnología, tecnologías emergentes o de punta.
							<br>
							La figura del Polo Tecnológico favorece a la región generando formas de colaboración implícita y explícita entre los agentes económicos locales y/o regionales en primer término y, nacionales y extranjeros en segundo término.
						</p>	
					</div>
					<div id="participar" class="tab-pane fade">
						<p>
						Para participar: contacto@polochaco.com.ar
						</p>
					</div>
					<div id="contactos" class="tab-pane fade">
						<p>
							</p><ul id="contactos-polo">
								<li><b>Mail:</b> contacto@polochaco.com.ar </li>
								<li><b>Facebook:</b> PoloITChaco </li>
								<li><b>Twitter:</b> PoloITChaco </li>
							</ul>
						<p></p>
					</div>
				</div>
			</div>
		</div>
					
    </div>