@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);

html, body
{
    height: 100%;
    font-family: 'Roboto', Sans-Serif;
    padding-bottom: 80px;
}

.containerNEA {
	color: #333366;
	font-family: regular;
	overflow: hidden;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default 
{
    background-color: #333366;
    color: #fff;
    border-color: #333366;
}

.loadingImage
{
    height: 50px;
    width: 50px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    z-index: 2000;
}